body {
    background-color: pink;

     
}

.first_file {
    background-color:#DEDB9B;
    position:fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 1190px;
    height: 600px;
    border-radius: 5px;
    margin-top: -240px;
    margin-left: -500px;
    transform: skewX(8deg)
    
}

 .second_file {
    background-color: #A99B54;
    width: 1150px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    margin-left: 15px;
    border-radius: 10px;


} 

.third_file {
    background-color: #8E8244;
    width: 1095px;
    height: 620px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -20px;
    margin-left: 25px;
    border-radius: 10px;
} 

#files{
    height:500px;
    width: 950px;
}


.purple_fl{
    background-color: purple;
    width: 110px;
   height: 70px;
   top: 50%;
   left: 50%;
   margin-top: -320px;
   margin-left:-280px;
   position: fixed;
   z-index: -10;
   border-radius: 5px;
}

.purple_paper{
    background-color: rgb(100, 2, 100);
    height: 500px;
    width: 945px;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -430px;
    position: fixed;
    z-index: -10;
    border-radius: 2px;
}


.purple_fl:hover{
    margin-top: -340px;
    background-color: rgb(149, 2, 149);
    
}

.purple_paper:hover{
    margin-top: -295px;
    background-color: purple;
   
}

.red_fl{
    background-color: rgb(238, 39, 39);
    width: 110px;
   height: 70px;
   top: 50%;
   left: 50%;
   margin-top: -295px;
   margin-left:-100px;
   position: fixed;
   border-radius: 5px;
}

.red_paper{
    background-color: rgb(211, 35, 35);
    height: 500px;
    width: 950px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -475px;
    position: fixed;
    z-index: -10;
    border-radius: 2px;
}

.red_fl:hover{
    margin-top: -310px;
    background-color: rgb(255, 45, 45);
    
}

.red_paper:hover{
    margin-top: -260px;
    background-color: rgb(230, 40, 40);
   
}


.green_fl{
    background-color: green;
    width: 110px;
   height: 70px;
   top: 50%;
   left: 50%;
   margin-top: -295px;
   margin-left:200px;
   position: fixed;
   border-radius: 5px;
}

.green_paper{
    background-color: rgb(3, 105, 3);
    height: 500px;
    width: 950px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -480px;
    position: fixed;
    z-index: -10;
    border-radius: 2px;
}

.green_fl:hover{
    margin-top: -310px;
    background-color: rgb(4, 155, 4);
    
}

.green_paper:hover{
    margin-top: -260px;
    background-color: rgb(5, 127, 5);;
   
}

.bottom_div{
    background-color: #6f6635;
    height: 70px;
    width: 65px;
    top: 50%;
    left: 50%;
    margin-top: 175px;
    margin-left:445px;
    position: fixed;
    z-index: -10;
    transform: rotate(45deg);
     border-radius: 2px;
}

/* ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    float: left;
    background-color: darkmagenta;
  }
  

  li a {
    display: block;
    margin: 15px;
    padding: 8px;
    outline-style:dashed;
    outline-color: burlywood;
    background-color: crimson;
  } */


/* h1 {
    font-size:20px;
    font-family: monospace;
}

p {
    margin: 100px;
   
}

div.first {
    border: 5px outset greenyellow;
    border-style: dotted;
    margin: 50px;
}

div.second {
    border: 5px outset green;
    border-style:double;
    margin: 50px;
}

div.third {
    border: 5px outset blue;
    border-style:ridge;
    margin: 50px;
}

div.Gallery {
    margin-left: 200px;
} */
