body {
    background-color: pink;   
    overflow-y: hidden;
    overflow-x: hidden;
}
/* 
.first_file {
    background-color:#DEDB9B;
    position:fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 1190px;
    height: 600px;
    border-radius: 5px;
    margin-top: -240px;
    margin-left: -500px;
    transform: skewX(8deg)
    
}


 .second_file {
    background-color: #A99B54;
    width: 1150px;
    height: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    margin-left: 15px;
    border-radius: 10px;

} 

.third_file {
    background-color: #8E8244;
    width: 1095px;
    height: 620px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -20px;
    margin-left: 25px;
    border-radius: 10px;
} 

#files{
    height:500px;
    width: 950px;
}


.purple_fl{
    background-color: purple;
    width: 110px;
   height: 70px;
   top: 50%;
   left: 50%;
   margin-top: -320px;
   margin-left:-280px;
   position: fixed;
   z-index: -10;
   border-radius: 5px;
}

.purple_paper{
    background-color: rgb(100, 2, 100);
    height: 500px;
    width: 945px;
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -408px;
    position: fixed;
    z-index: -10;
    border-radius: 2px;
    transform: skewX(-7deg)
    
}


.purple_fl:hover{
    margin-top: -340px;
    background-color: rgb(149, 2, 149);
    
}

.purple_paper:hover{
    margin-top: -295px;
    background-color: purple;
   
}



 .red_fl{
    background-color: rgb(238, 39, 39);
    width: 110px;
   height: 70px;
   top: 50%;
   left: 50%;
   margin-top: -295px;
   margin-left:-100px;
   position: fixed;
   border-radius: 5px;
   
   
} 



.red_paper{
    background-color: rgb(211, 35, 35);
    height: 500px;
    width: 950px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -470px;
    position: fixed;
    z-index: -10;
    border-radius: 2px;
    transform: skewX(-3deg)
}

.red_fl:hover{
    margin-top: -310px;
    background-color: rgb(255, 45, 45);
    
}

.red_paper:hover{
    margin-top: -260px;
    background-color: rgb(230, 40, 40);
   
}


.green_fl{
    background-color: green;
    width: 110px;
   height: 70px;
   top: 50%;
   left: 50%;
   margin-top: -295px;
   margin-left:200px;
   position: fixed;
   border-radius: 5px;
}

.green_paper{
    background-color: rgb(3, 105, 3);
    height: 500px;
    width: 950px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -480px;
    position: fixed;
    z-index: -10;
    border-radius: 2px;
}

.green_fl:hover{
    margin-top: -310px;
    background-color: rgb(4, 155, 4);
    
}

.green_paper:hover{
    margin-top: -260px;
    background-color: rgb(5, 127, 5);;
   
}

.bottom_div{
    background-color: #6f6635;
    height: 75px;
    width: 65px;
    top: 50%;
    left: 50%;
    margin-top: 170px;
    margin-left:445px;
    position: fixed;
    z-index: -10;
    transform: rotate(30deg);
     border-radius: 2px;
}

.back_file {
    background-color:#655e32;
    position:fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    height: 75px;
    width: 65px;
    margin-top: -300px;
    margin-left:-386px;
    position: fixed;
    z-index: -10;
    transform: skewX(-10deg);
    border-radius: 5px;
}

h1{
    position:fixed;
   top: 50%; 
   left: 50%;
   margin-left: -300px;
   font-size: 70px;
} */

#door-wall{
    background-color: purple;
    width: 1800px;
    height: 664px;
    margin-top: -8px;
    margin-left: -8px;
}